<p id="notice"><%= notice %></p>

<p>
  <strong>Date:</strong>
  <%= @pum.date %>
</p>

<p>
  <strong>Label:</strong>
  <%= @pum.label %>
</p>

<p>
  <strong>Account:</strong>
  <%= @pum.account_id %>
</p>

<p>
  <strong>Campaign:</strong>
  <%= @pum.campaign_id %>
</p>

<p>
  <strong>Ad group:</strong>
  <%= @pum.ad_group_id %>
</p>

<p>
  <strong>Keyword:</strong>
  <%= @pum.keyword_id %>
</p>

<p>
  <strong>Publisher:</strong>
  <%= @pum.publisher %>
</p>

<p>
  <strong>Account name:</strong>
  <%= @pum.account_name %>
</p>

<p>
  <strong>Campaign name:</strong>
  <%= @pum.campaign_name %>
</p>

<p>
  <strong>Ad group name:</strong>
  <%= @pum.ad_group_name %>
</p>

<p>
  <strong>Keyword:</strong>
  <%= @pum.keyword %>
</p>

<p>
  <strong>Focus word:</strong>
  <%= @pum.focus_word %>
</p>

<p>
  <strong>Industry:</strong>
  <%= @pum.industry %>
</p>

<p>
  <strong>Device type:</strong>
  <%= @pum.device_type %>
</p>

<p>
  <strong>Impressions:</strong>
  <%= @pum.impressions %>
</p>

<p>
  <strong>Cost per click:</strong>
  <%= @pum.cost_per_click %>
</p>

<p>
  <strong>Cost:</strong>
  <%= @pum.cost %>
</p>

<p>
  <strong>Click count:</strong>
  <%= @pum.click_count %>
</p>

<p>
  <strong>Total unreconciled revenue:</strong>
  <%= @pum.total_unreconciled_revenue %>
</p>

<p>
  <strong>Total clickout revenue:</strong>
  <%= @pum.total_clickout_revenue %>
</p>

<p>
  <strong>Leads:</strong>
  <%= @pum.leads %>
</p>

<p>
  <strong>Clickouts:</strong>
  <%= @pum.clickouts %>
</p>

<p>
  <strong>Lead users:</strong>
  <%= @pum.lead_users %>
</p>

<p>
  <strong>Lead request users:</strong>
  <%= @pum.lead_request_users %>
</p>

<%= link_to 'Edit', edit_pum_path(@pum) %> |
<%= link_to 'Back', pums_path %>
