<h1>Revenue</h1>
<%= link_to ces_path(format: :csv), class: 'left' do %>
  Export
  <i class="material-icons">grid_on</i>
<% end %>

<%= form_tag ces_path, role: 'search',  method: :get do |f| %>
  <div class="row">
    <div class="col m1">
     <%= text_field_tag :publisher, params[:publisher], type: 'search', placeholder: 'Publisher' -%>
    </div>

    <div class="col m1">
     <%= text_field_tag :campaign_id, params[:campaign_id], type: 'search', placeholder: 'Campaign ID' -%>
    </div>

    <div class="col m2">
     <%= text_field_tag :adgroup_id, params[:adgroup_id], type: 'search', placeholder: 'Ad Group ID' -%>
    </div>

    <div class="col m1">
      <%= submit_tag  "search" %>
    </div>
</div>

<% end %>

<div class="row">
<div class="col m12 s12">

<table class="striped">
  <thead>
     <th>Matches</th>
      <% Ce.cols.each do |col| %>
       <th><%= col -%> </th>
      <% end %>
  </thead>

  <tbody>
    <% @ces.each do |ce| %>
      <tr>
        <td>
         <%= Pum.where(computed_id: ce.computed_id).count  %>
         </td>
         <% Ce.cols.each do |col| %>
           <td>
             <% if col == :grouping_date %>
             <%= ce.send(col).strftime("%m-%d-%Y") -%>
             <% else %>
             <%= ce.send(col) -%>
             <% end %>
           </td>
         <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate(@ces) -%>

</div>
</div>
